footer{
    width: 100%;
    height: auto;
    background-color: #d3d3d3;
    overflow: hidden;
    >div.footerDsktop{
        width: 100%;
        max-width: 1920px;
        height: 220px;
        margin: 0 auto;
        padding-left: 143px;
        padding-right: 125px;
        padding-top: 59px;
        position: relative;
        background-color: #d3d3d3;
        @include SCREEN_1366{
            padding-left: 90px;
            padding-right: 80px;
        }
        @include SCREEN_900{
            padding-left: 50px;
            padding-right: 40px;
        }
        @include SCREEN_736{
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #191919;
            height: auto;
            padding-top: 50px;
        }
        .textArea{
            float: left;
            >div{
                >h1{
                    display: inline-block;
                    font-size: 20px;
                    color: #323232;
                    overflow: hidden;
                    @include SCREEN_900{
                        font-size: 16px;
                    }
                    >span{
                        display: inline-block;
                        width: 313px;
                        height: 19px;
                        background-image: url("~standard_word-yundesign2.png");
                        background-repeat: no-repeat;
                        background-size: contain;
                        margin-right: 10px;
                        @include SCREEN_900{
                            width: 255px;
                        }
                        @include SCREEN_736{
                            background-image: url("~standard_word-yundesign_mobile.png");
                            width: 150px;
                            height: 16px;
                        }
                    }
                }
                >h2{
                    display: inline-block;
                    font-size: 20px;
                    vertical-align: super;
                    color: #515151;
                    letter-spacing: 0.25em;
                    transform: translateY(-1px);
                    @include SCREEN_900 {
                        font-size: 16px;
                        transform: translateY(-3px);
                    }
                    @include SCREEN_736{
                        color: #cdcccc;
                        transform: translateY(1px);
                        font-size: 18px;
                    }
                }
                >a{
                    font-family: $fontFamilyBase;
                    display: block;
                    font-weight: $fontWeightBold;
                    font-size: 23px;
                    color: #4b4b4b;
                    margin-top: 8px;
                    letter-spacing: 0.025em;
                    visibility: hidden;
                    @include SCREEN_900 {
                        font-size: 18px;
                        margin-top: 10px;
                    }
                    &:hover{
                        text-decoration: underline;
                    }
                }
                >p{
                    display: block;
                    font-size: 14px;
                    color: #4b4b4b;
                    margin-top: 13px;
                    @include SCREEN_900 {
                        font-size: 12px;
                        transform-origin: 0 0;
                        transform: scale(0.9);
                    }
                }
            }
        }
        .iconArea{
            float: right;
            margin-top: 20px;
            @include SCREEN_900{
                margin-top: 25px;
            }
            @include SCREEN_736{
                margin-top: 50px;
            }
            ul{
                overflow: hidden;
                li{
                    float: left;
                    // margin-left: 8px;
                    &:first-child a{
                        background-image: url("~99_footer_fbIcon.png");
                    }
                    &:last-child a{
                        background-image: url("~99_footer_emailIcon.png");
                    }
                    &:hover a{
                        background-position: 0 100%;
                        @include SCREEN_736{
                            background-position: top;
                        }
                    }
                    a{
                        width: 55px;
                        height: 55px;
                        background-position: 0 0;
                        background-size: cover;
                        display: block;
                        @include SCREEN_900{
                            width: 45px;
                            height: 45px;
                        }
                    }
                }
            }
        }
        
    }
    >div.footerMobile{
        width: 100%;
        height: 130px;
        background-color: #191919;
        >h2{
            font-size: 18px;
            letter-spacing: 0.04em;
            color: #cdcccc;
            line-height: 34px;
            text-align: center;
            padding-top: 38px;
            @include SCREEN_375{
                line-height: 28px;
                font-size: 14px;
                padding-top: 20px;
            }
        }
        >p{
            font-size: 16px;
            letter-spacing: 0.05em;
            color: #cdcccc;
            line-height: 28px;
            text-align: center;
            @include SCREEN_375{
                font-size: 12px;
                line-height: 18px;
                letter-spacing: 0.07em;
            }
        }
    }
}